<% if repo[:pull_requests].present? || params[:all] == "true" %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
      <%= link_to repo[:pull_requests_url], target: '_blank' do %>
          <strong>
            <%= repo[:name] %> <%= icon('external-link') %>
          </strong>
      <% end %>
    </div>

      <div class="list-group">
        <% repo[:pull_requests].each do |pr| %>
          <%= render 'pull_request', pr: pr %>
        <% end %>
      </div>

      <% if repo[:pull_requests].blank? %>
        <p>
          No PRs here!
        </p>
      <% end %>

      <div class="panel-footer">
        Total: <%= repo[:pull_requests].length %>
      </div>
    </div>
  </div>
<% end %>
