<h1>
  <%= @org %> - Pull Requests
</h1>

<div class="pull-right">
  <% if params[:all] == "true" %>
    <%= link_to 'see only projects with PRs opened', pull_requests_for_org_path(@org)  %>
  <% else %>
    <%= link_to 'see all projects', pull_requests_for_org_path(@org, all: true) %>
  <% end %>
</div>

<br>

<%= link_to organizations_path do %>
  <div class="btn btn-default">
    <%= icon('arrow-left fa-fw') %> Back to orgs
  </div>
<% end %>

<hr>

<div class="row">
  <% @repos.each do |repo| %>
    <% if repo[:pull_requests].present? || params[:all] == "true" %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>
              <%= repo[:name] %>
            </strong>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <% repo[:pull_requests].each do |pr| %>
                <%= render 'pull_request', pr: pr %>
              <% end %>
            </div>

            <% if repo[:pull_requests].blank? %>
              <p>
                No PRs here!
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
