<h1>
  <%= @org %> - Pull Requests
</h1>

<div class="pull-right">
  <% if params[:all] == "true" %>
    <%= link_to 'see only projects with PRs opened', pull_requests_for_org_path(@org)  %>
  <% else %>
    <%= link_to 'see all projects', pull_requests_for_org_path(@org, all: true) %>
  <% end %>
</div>

<br>

<%= link_to organizations_path do %>
  <div class="btn btn-default">
    <%= icon('arrow-left fa-fw') %> Back to orgs
  </div>
<% end %>

<hr>

<div class="row">
  <% @repos.each do |repository| %>
    <%= render 'repo', repo: repository %>
  <% end %>
</div>
